<h4>Choose the graphic you want to display</h4>

<div *ngIf="barData !== undefined; else loading">
    <form #form="ngForm">
        <div class="badge">
            <label for="bar">
                bar graph<input value="bar" id="bar" type="radio" name="type" [(ngModel)]="selection" checked>
            </label>
        </div>
        <div class="badge">
            <label for="line">
                line graph<input value="line" id="line" type="radio" name="type" [(ngModel)]="selection">
            </label>
        </div>
        <div class="badge">
            <label for="pie">
                pie chart<input value="pie" id="pie" type="radio" name="type" [(ngModel)]="selection">
            </label>
        </div>
    </form>

    <div class="col-sm-10">
        <div *ngIf="selection === 'bar'">
            <app-bar-graph
                title="(d3)Sales Bar Graphic"
                width="700"
                height="350"
                [data]="barData" 
                xProp="salesperson" 
                yProp="sales"
            >
            </app-bar-graph>
        </div>
        <div *ngIf="selection === 'line'">
            <app-line-graph
                title="(Chartist) Weekly Line Graphic"
                width="700"
                height="350"
                [data]="lineData" 
            ></app-line-graph>
        </div>
        <div *ngIf="selection === 'pie'">
            <app-pie-chart
                title="(Highcharts) Monthly Pie Graphic"
                width="700"
                height="350"
                [data]="pieData" 
            ></app-pie-chart>
        </div>
    </div>
</div>
<ng-template #loading>
    <h1>...loading</h1>
    <h1>...loading</h1>
    <h1>...loading</h1>
    <h1>...loading</h1>
    <h1>...loading</h1>
</ng-template>