<nav class="navbar navbar-inverse">
  <div class="nav navbar-brand"  routerLink='/'>
    <span>tekmexico</span>
  </div>
  <ul class="nav nav-tabs nav-justified">
    <li><a routerLink="/graphics">graphics</a></li>
    <!-- <li><a routerLink="/bar-graph">bar</a></li> -->
    <!-- <li><a routerLink="/pie-chart">pie</a></li> -->
    <!-- <li><a routerLink="/line-graph">line</a></li> -->
    <li><a routerLink="/spreadsheet">spreadsheet</a></li>
    <li><a routerLink="/textarea">textarea</a></li>
    <li><a routerLink="/multi-step-component">multi</a></li>
    <li><a routerLink="/image-gallery">gallery</a></li>
    <li><a routerLink="/notes">notes</a></li>
  </ul>

</nav>