<nav class="navbar navbar-inverse">
  <div class="nav navbar-brand"  routerLink='/'>
    <span>tekmexico</span>
  </div>
  <ul class="nav nav-tabs nav-justified">
    <li><a routerLink="/graphics" [routerLinkActive]="['active-route']">graphics</a></li>
    <!-- <li><a routerLink="/bar-graph">bar</a></li> -->
    <!-- <li><a routerLink="/pie-chart">pie</a></li> -->
    <!-- <li><a routerLink="/line-graph">line</a></li> -->
    <li><a routerLink="/spreadsheet" [routerLinkActive]="['active-route']">spreadsheet</a></li>
    <li><a routerLink="/textarea" [routerLinkActive]="['active-route']">textarea</a></li>
    <li><a routerLink="/multi-container" [routerLinkActive]="['active-route']">multi</a></li>
    <li><a routerLink="/image-gallery" [routerLinkActive]="['active-route']">gallery</a></li>
    <li><a routerLink="/notes" [routerLinkActive]="['active-route']">notes</a></li>
  </ul>

</nav>